[Desktop Entry]
Type=Application
Exec=sh -c "sleep 3 && gnome-terminal"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Auto Run Terminal
